<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Bridge {% block title %}{% endblock %}</title>
    <script src="{% static 'meeting/jquery/jquery.min.js' %}"></script>
    <link href="{% static 'meeting/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'meeting/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />


      {% block css %}
        <link rel="stylesheet" href="{% static 'meeting/css/base.css' %}?after">
      {% endblock %}
  </head>
  <body>
    <div class="main-container">
        <div class="header">
          {% if user.is_authenticated %}
          <a id="home-btn" href="{% url 'main' %}" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
            </svg>
          </a>
          <div><b>{{ user.last_name }}{{ user.first_name }}</b>님, 안녕하세요!</div>
          {% else %}
          <a href="{% url 'login' %}">로그인</a>
          {% endif %}
        </div>

        {% block contents %}

        {% endblock %}

    </div>
    <footer class="py-3">
        <p class="m-0 text-sm-center text-white">Copyright &copy; Meeting Bridge</p>
    </footer>
    {% block script %}
    {% endblock %}
  </body>
</html>