{% load socialaccount %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Bridge</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'meeting/css/login.css' %}" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="left-panel">
        <div class="m-md-3">
          <h5>AI 회의 어시스턴트</h5>
          <h1><strong>미팅브릿지</strong></h1>
          <br>
          <br>
          <h4>회의록 생성과 회의 요약을<br /><strong>한 번에, 간편하게!</strong></h4>
          <h4>지금 구글 아이디로 시작해보세요.</h4>
        </div>
      </div>
      <div class="right-panel">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" width="50%" alt="" />
        </div>
        <a href="{% provider_login_url 'google' %}" class="btn-google">
          <img
            src="{% static 'images/google_logo.png' %}"
            alt="Google Logo"
          />
          Continue with Google
        </a>
      </div>
    </div>
  </body>
</html>
