{% extends 'base.html' %}
{% load static %}

{% block title %}- Main{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'meeting/css/main.css' %}?after" media="screen">
<link rel="stylesheet" href="{% static 'meeting/css/meeting.css' %}?after">
<link rel="stylesheet" href="{% static 'meeting/css/meeting_detail.css' %}?after" media="screen">
{% endblock %}


{% block contents %}
<div class="meeting-list" id="meeting-list">

  <div class="list-container" id="list-container">
      <!-- 드롭다운 메뉴와 검색 입력 -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" >
          제목
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" data-search-type="title">제목</a>
          <a class="dropdown-item" href="#" data-search-type="author">작성자</a>
        </div>
      </div>
      <div class="input-group">
        <input type="search" id="search-input" class="form-control rounded" placeholder="검색어 입력" aria-label="Search" aria-describedby="search-addon"/>
        <button type="button" class="btn btn-primary meeting-search-button" onclick="search()">검색</button>
      </div>
    </div>



    <div class="create-meeting" onclick="location.href='/recording/';" style="cursor: pointer">
      <a class="nav-link">+ 새 회의 만들기</a>
    </div>

    <div id="list-items">
      {% for meeting in meetings %}
      <div class="list-item" id="item-{{meeting.id}}" onclick="toggleDetails1('{{ meeting.id }}')" {% if forloop.counter > 15 %} style="display: none;" {% endif %}>
        <span class="list-item-title">{{ meeting.title }}</span>
        <span class="list-item-info">{{ meeting.started_at|date:"Y-m-d H:i" }}<br>{{ meeting.host }}</span>
      </div>
      {% endfor %}
    </div>

  <!-- 더보기 버튼 -->
    <div class="d-grid">
        <button id="load-more" class="btn">더보기</button>
    </div>

  </div>
  <div class="details-container" id="details">
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn-close m-2" aria-label="Close" onsubmit="return false" onclick="closeToggle()"></button>
    </div>
    <div id="details-content">Select an item from the list to see more details here.</div>
  </div>

  <!--Modal-->
  <div class="modal fade" id="contentDetail" >
    <div class="modal-dialog" id="meetingDetailModal">
      <div class="modal-content" id="contentModalHtml">
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block script %}
<script>
  let currentItem = null;
  let beforeItem = null;
  
  function toggleDetails1(meeting_id) {
    const meetingList = document.getElementById('meeting-list');
    const listContainer = document.getElementById('list-container');
    const detailsContainer = document.getElementById('details');
    const detailsContent = document.getElementById('details-content');
    const modalContainer = document.getElementById('contentModalHtml');
    const current = document.getElementById(`item-${meeting_id}`)
    if (currentItem != null) {
      beforeItem = document.getElementById(`item-${currentItem}`);
    }
    
    if (currentItem === meeting_id) {
      // Hide the details if the same item is clicked again
      detailsContainer.classList.remove('open');
      current.classList.remove('current');
      meetingList.classList.remove('split-view');
      currentItem = null;
    } else {
      // Fetch the meeting details from the server
      fetch(`/meeting_summary/${meeting_id}/`)
      .then(response => response.text())
      .then(html => {
        if (currentItem != null) {
          // split-view에서 다른 회의를 눌렀을 때를 대비
            beforeItem.classList.remove('current');
        }
        // Show the details of the selected item
          detailsContent.innerHTML = html;
          detailsContainer.classList.add('open');
          current.classList.add('current');
          meetingList.classList.add('split-view');
          currentItem = meeting_id;
        });
        fetch(`/meeting_detail/${meeting_id}`)
          .then(response => response.text())
          .then(html => {
            modalContainer.innerHTML = html;
          });
    }
  }

  function closeToggle() {
    const meetingList = document.getElementById('meeting-list');
    const detailsContainer = document.getElementById('details');
    detailsContainer.classList.remove('open');
      meetingList.classList.remove('split-view');
      currentItem = null;
  }

  // 수정
  let selected_speakers = [];  // 선택된 값들을 저장할 리스트
  function updateOptions() {
    const selects = document.querySelectorAll('select[name="selectedValues"]');
    const selectedValues = Array.from(selects)
        .map(select => select.value)  // 각 select 요소의 선택된 값을 배열로 추출
        .filter(value => value !== "-- 선택 --"); // 초기 선택 무시

    // 선택된 값들을 selected_speakers에 저장
    selected_speakers = selectedValues;

    selects.forEach(select => {
        Array.from(select.options).forEach(option => {
            if (selectedValues.includes(option.value) && option.value !== select.value) {
                option.hidden = true;  // 선택된 값은 숨김 처리
            } else {
                option.hidden = false;  // 선택되지 않은 값은 표시
            }
        });
    });
    console.log("Selected speakers:", selected_speakers)
  }


  async function updateDetails(meeting_id) {
    console.log(selected_speakers)

    const modalContainer = document.getElementById('contentModalHtml');
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const formData = new FormData();

    formData.append('meeting_id', meeting_id)
    formData.append('selected_speakers', JSON.stringify(selected_speakers));

    try {
          const response = await fetch("{% url 'speaker' %}", { // POST 경로를 'save_audio' 로 변경하였습니다. 실제 경로는 서버 설정에 따릅니다.
              method: 'POST',
              body: formData,
              headers: {
                  'X-CSRFToken': csrfToken
              }
          })
          .then(() => {
            fetch(`/meeting_detail/${meeting_id}`)
            .then(response => response.text())
            .then(html => {
              modalContainer.innerHTML = html;
            });
          })
          .catch(() => {
            console.log("Speaker 전송 중에 오류가 생겼습니다.")
          })
    }
    catch (fetchError) {
      console.error('Speaker 수정 전체 과정 중 오류가 발생했습니다:', fetchError);
    }
  }

  let selectedSearchType = 'title';  // 기본 검색 유형 설정

  // 드롭다운 메뉴에서 검색 유형 선택 시
  document.querySelectorAll('.dropdown-item').forEach(function (item) {
    item.addEventListener('click', function (e) {
      e.preventDefault();
      selectedSearchType = this.getAttribute('data-search-type');
      document.getElementById('dropdownMenuButton').innerText = this.innerText;
    });
  });

  function search() {
    const query = document.getElementById('search-input').value.trim();
  
    if (!query) {
      alert('검색어를 입력해주세요.');
      return;
    }
  
    // AJAX 요청 보내기
    fetch('/search/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken')  // CSRF 토큰 포함
      },
      body: JSON.stringify({
        'search_type': selectedSearchType,
        'query': query
      })
    })
      .then(response => response.json())
      .then(data => {
        displaySearchResults(data.meetings);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

	let searchInput = document.getElementById('search-input');
	searchInput.addEventListener('keyup', event => {
    if (event.key == 'Enter') {
      search()
    }
  });

  // 검색 결과 표시 함수
  function displaySearchResults(meetings) {
    const listItemsContainer = document.getElementById('list-items');
    listItemsContainer.innerHTML = '';  // 기존 목록 초기화

    if (meetings.length === 0) {
      listItemsContainer.innerHTML = '<p>검색 결과가 없습니다.</p>';
      return;
    }

    meetings.forEach(meeting => {
      const meetingDiv = document.createElement('div');
      meetingDiv.classList.add('list-item');
      meetingDiv.setAttribute('onclick', `toggleDetails1('${meeting.id}')`);
      meetingDiv.innerHTML = `
        <span class="list-item-title">${meeting.title}</span>
        <span class="list-item-info">${meeting.started_at}<br>${meeting.author}</span>
      `;
      listItemsContainer.appendChild(meetingDiv);
    });
  }

  // CSRF 토큰 가져오기 함수
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // 쿠키가 name=값 형태인지 확인
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function() {
        var itemsToShow = 15;  // 한 번에 표시할 항목 수

        // 더보기 버튼 클릭 시 추가 항목 표시
        $('#load-more').click(function() {
            // 현재 숨겨진 항목 중에서 다음 itemsToShow 개수만큼 선택하여 보여줌
            var hiddenItems = $('.list-item:hidden').slice(0, itemsToShow);

            // 선택된 숨겨진 항목이 있는지 확인
            if (hiddenItems.length > 0) {
                hiddenItems.slideDown();  // 숨겨진 항목을 부드럽게 표시
            }

            // 더 이상 숨겨진 항목이 없으면 버튼 숨기기
            if ($('.list-item:hidden').length === 0) {
                $('#load-more').fadeOut();
            }
        });
    });

</script>

{% endblock %}