<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>{{ meeting.title }}</span>
    <span>{{ meeting.started_at|date:"Y-m-d H:i" }} 작성자 {{ meeting.host }}</span>
  </div>
  <div class="card-body">
    <p>
      <strong>참여자</strong><br />
      {% for user in users %}
        {{ user }}<br />
      {% endfor %}
    </p>
    <p>
      <strong>확인자</strong><br />
      {% for checkeruser in checkerusers %}
        {{ checkeruser }}
      {% endfor %}
    </p>

    <p><strong>회의 요약</strong></p>
    <p>{{meeting.summary}}</p>
    <br>
    <div class="detailMeeting">
      <button type="button" id="open-modal" class="btn" data-bs-toggle="modal" data-bs-target="#contentDetail">전문
        보기</button>
    </div>

  </div>
</div>