<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>{{ meeting.title }}</span>
    <span>{{ meeting.started_at|date:"Y-m-d H:i" }} 작성자 {{ meeting.host }}</span>
  </div>
  <div class="card-body">
    <strong>참여자</strong><br />
    <div class="d-flex my-2 flex-wrap">
      {% for user in users %}
      <div class="mx-3">
        <p class="m-0 p-0">{{ user.last_name }}{{ user.first_name }}</p>
        <p style="font-size:0.8rem;">{{ user.email }}</p>
      </div>
      {% endfor %}
    </div>
    <p><strong>회의 요약</strong></p>
    <div id="summary-area">
      {{ meeting.summary|safe }}
    </div>
    <br>
    <div class="detailMeeting">
      <button type="button" id="open-modal" class="btn" data-bs-toggle="modal" data-bs-target="#contentDetail" data-meeting-id="{{ meeting.id }}">전문
        보기</button>
    </div>

  </div>
</div>