<div class="modal-header">
  <h5 class="modal-title">{{ meeting.title }} 전문 보기</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="modalBody">
  <!--accordion-->

  <div class="accordion" id="speakerSelect">
    <div class="accordion-item">

      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
          Speaker select
        </button>
      </h2>

      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#speakerSelect">
        <div class="accordion-body">
          <form action="{% url 'speaker' %}" method="POST">
            {% csrf_token %}
            {% for speaker in speakers %}
              <select class="form-select form-select-md" name="selectedValues" onchange="updateOptions()">
                <option selected>{{ speaker }}</option>
                {% for user in users %}
                  {% if user != speaker %}
                    <option value="{{ user }}">{{ user }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            <br />
            {% endfor %}

            <div class="btn-container align-content-end" style="text-align: end;">
              <button class="btn btn-primary" type="submit">수정</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
  <br />
  <div id="meetingContentJson">
        {% for minute in meeting.content.minutes %}
            <p><strong>{{ minute.speaker }}:</strong> {{ minute.text }}</p>
        {% endfor %}
  </div>
</div>