html, body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f8f9fa;
}
.main-container {
  min-height: 93vh;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.header button {
  background-color: #e7f1ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
footer {
  background-color: #051c4f;
}
button:active, button:focus, input:focus {
  outline:none !important;
  box-shadow:none !important;}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track { 
  background-color: rgb(228, 228, 228);
}
body::-webkit-scrollbar-thumb { 
  background-color: #001a5192;
}
body::-webkit-scrollbar-button {
  display: none;
}