body {
        font-family: "Noto Sans KR", sans-serif;
        /* background-color: #f8f9fa; */
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        display: flex;
        background-color: white;
        border-radius: 0;
        box-shadow: none;
        overflow: hidden;
        padding: 0;
      }
      .left-panel {
        background: linear-gradient(to bottom right, #e0f7fa, #b3e5fc);
        padding: 40px;
        color: #333;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 3rem;
        text-shadow: 0 0 5px gray;
      }
      .box {
        width: 60%;
        height: 100%;
        border-radius: 5px;
        background: #fbfdff;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
      }
      .wave {
        opacity: .4;
        position: absolute;
        top: -25vw;
        left: -50vw;
        background: #79b3ff;
        width: 100vw;
        height: 100vw;
        margin-left: 0;
        margin-top: 0;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7000ms infinite linear;
      }
      
      .wave.-three {
        animation: drift 9000ms infinite linear;
      }
      
      .wave.-two {
        animation: drift 11000ms infinite linear;
        opacity: .1;
        background: rgb(76, 255, 180);
      }
      
      .box:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
        z-index: 11;
        transform: translate3d(0, 0, 0);
      }
      
      .login-text {
        position: absolute;
        left: 35%;
        top: 25%;
        width: 50%;
        z-index: 1;
        text-align: left;
        transform: translate3d(0, 0, 0);
        color: white;
        /* letter-spacing: .4em; */
        /* font-size: 24px; */
        text-shadow: 0 1px 0 rgba(black, .1);
        text-indent: .3em;
      }
      @keyframes drift {
        from { transform: rotate(0deg); }
        from { transform: rotate(360deg); }
      }
      .right-panel {
        text-align: center;
        flex: 1;
        padding: 0 10vh 0 0;
        display: flex;
        background: #fbfdff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .logo {
        margin-bottom: 20px;
      }
      .btn-google {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #333;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
      }
      .btn-google img {
        width: 20px;
        margin-right: 10px;
      }