.meeting-list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-out;
}
.meeting-list.split-view {
  width: 35%;
}
.list-container {
  width: 100%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}
.details-container {
  width: 0%;
  padding: 20px;
  visibility: hidden;
  background-color: #f4f4f4;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.details-container.open {
  display: flow;
  visibility: visible;
  width: 63%;
}

.details-container::-webkit-scrollbar {
  width: 8px;
}
.details-container::-webkit-scrollbar-track { 
  background-color: rgb(228, 228, 228);
}
.details-container::-webkit-scrollbar-thumb { 
  background-color: #d0e4ff;
}
.details-container::-webkit-scrollbar-button {
  display: none;
}

#contentDetail::-webkit-scrollbar {
  width: 8px;
}
#contentDetail::-webkit-scrollbar-track { 
  background-color: rgb(228, 228, 228);
}
#contentDetail::-webkit-scrollbar-thumb { 
  background-color: #001a5192;
}
#contentDetail::-webkit-scrollbar-button {
  display: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.list-item:hover {
  background-color: #0056b3;
  color:white;
}
.list-item-title {
  font-weight: bold;
}
.list-item-info {
  font-size: 0.9em;
}
.meeting-item:last-child {
  border-bottom: none;
}
.meeting-item .title {
  font-weight: bold;
}
.meeting-item .date {
  color: #6c757d;
}
.create-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f1ff;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
}
.create-meeting:hover {
  background-color: #d0e4ffc6;
}
#meetingDetailModal {
  max-width: 65%;
}
#dropdownMenuButton {
  width:100px;
}