.meeting-list {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.list-container {
  width: 100%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  transition: width 0.5s ease;
}
.list-container.split-view {
  width: 50%;
}
.details-container {
  width: 50%;
  padding: 20px;
  display: none;
  background-color: #f4f4f4;
  transition: transform 0.5s ease;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.details-container.open {
  display: flow;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.list-item:hover {
  background-color: #0056b3;
}
.list-item-title {
  font-weight: bold;
}
.list-item-info {
  font-size: 0.9em;
}
.meeting-item:last-child {
  border-bottom: none;
}
.meeting-item .title {
  font-weight: bold;
}
.meeting-item .date {
  color: #6c757d;
}
.create-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f1ff;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
}
.create-meeting:hover {
  background-color: #d0e4ff;
}
#meetingDetailModal {
  max-width: 65%;
}